{% extends 'layout-nomenu.html' %}

{% block content %}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Dashboard</title>
    <style>
        a:link {
            display: block;
            font-size: 40px;
            padding: 20px;
            color: white;
            background-color: transparent;
            text-decoration: none;
        }

        a:visited {
            color: white;
        }

        div.card {
            background: #d0c4c6;
            border-radius: 5px;
            margin-top: 27px;
            cursor: pointer;
        }

        div.card:hover {
            background: #303824;
            color: white;
        }
    </style>
</head>

<body>
    <form class="row gx-3 gy-2 align-items-center" method="POST">
        <div class="col-auto">
            <label class="visually-hidden" for="specificSizeSelect">Plant</label>
            <select class="form-select" id="specificSizeSelect">
                {% for bot in bots %}
                <option value="{{bot[0]}}">{{bot[0]}} {{bot[1]}}</option>
                {% endfor %}
            </select>
        </div>
    </form>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6" onclick="location.href='capture-data';">
                <div class="card p-3">
                    <div class="d-flex flex-row mb-3"><i class="fa fa-database" aria-hidden="true"
                            style="font-size: 70px; margin-right: 10px;"></i>
                        <div class="d-flex flex-column ml-2"><span>Capture Data</span><span>Collect Data</span></div>
                    </div>
                    <h6>Capture plant and weather data</h6>
                </div>
            </div>

            <div class="col-md-6" onclick="location.href='garden-explorer';">
                <div class="card p-3">
                    <div class="d-flex flex-row mb-3"> <i class="fa fa-table" aria-hidden="true"
                            style="font-size: 70px; margin-right: 10px;"></i>
                        <div class="d-flex flex-column ml-2"><span>Garden Explorer</span><span>Database</span></div>
                    </div>
                    <h6>Browse through captured data</h6>
                </div>
            </div>

            <div class="col-md-6" onclick="location.href='report';">
                <div class="card p-3">
                    <div class="d-flex flex-row mb-3"><i class="fa fa-line-chart" aria-hidden="true"
                            style="font-size: 70px; margin-right: 10px;"></i>
                        <div class="d-flex flex-column ml-2"><span>Report</span><span>Analytics and Art
                                Generating</span></div>
                    </div>
                    <h6>View tabular report and generate art</h6>
                </div>
            </div>

            <div class="col-md-6" onclick="location.href='users';">
                <div class="card p-3">
                    <div class="d-flex flex-row mb-3"><i class="fa fa-user" aria-hidden="true"
                            style="font-size: 70px; margin-right: 10px;"></i>
                        <div class="d-flex flex-column ml-2"><span>User</span><span>User's Details</span></div>
                    </div>
                    <h6>View Account's Details</h6>
                </div>
            </div>

            <div class="col-md-6" onclick="location.href='schedule';">
                <div class="card p-3">
                    <div class="d-flex flex-row mb-3"><i class="fa fa-clock-o" aria-hidden="true"
                            style="font-size: 70px; margin-right: 10px;"></i>
                        <div class="d-flex flex-column ml-2"><span>Scheduler</span><span>Automate data collection</span>
                        </div>
                    </div>
                    <h6>Set a Schedule</h6>
                </div>
            </div>

            <div class="col-md-6" onclick="location.href='art-entries';">
                <div class="card p-3">
                    <div class="d-flex flex-row mb-3"><i class="fa fa-picture-o" aria-hidden="true"
                            style="font-size: 70px; margin-right: 10px;"></i>
                        <div class="d-flex flex-column ml-2"><span>Art Entries</span><span>View generated art</span>
                        </div>
                    </div>
                    <h6>View previous art</h6>
                </div>
            </div>
        </div>
    </div>
</body>


{% endblock content %}